/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  position: relative;
  width: 90%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Ombre légère */
  overflow: hidden;
}
.title {
  width: 90%;
  text-align: center;
  font-size: 2rem;
  color: #0c2b85;
  text-transform: uppercase;
}
.banner {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.banner img {
  width: 100%;
  height: 100%;
}

#chat-box {
  padding: 20px;
  height: 500px;
  overflow-y: auto;
  color: #fff;
}

/* style depuis le js */
.message {
  margin-bottom: 15px;
}

.user .message-content {
  text-align: right;
  color: #fff;
  background-color: #4e73df;
  border-radius: 20px 20px 0 20px;
  padding: 12px;
  display: inline-block;
  max-width: 70%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bot .message-content {
  text-align: left;
  color: #333;
  background-color: #e3e3e3;
  border-radius: 20px 20px 20px 0;
  padding: 12px;
  display: inline-block;
  max-width: 70%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* style depuis le js */

#chat-form {
  display: flex;
  gap: 10px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

#user-input {
  flex: 1;
  padding: 18px 20px;
  border: 2px solid #ddd;
  border-radius: 30px;
  background-color: #fafafa;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#user-input:focus {
  outline: none;
  border: 2px solid #4e73df;
}

::placeholder,
#user-input {
  font-size: 1.1rem;
}

button {
  padding: 20px 30px;
  border: none;
  background-color: #4e73df;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

button:hover {
  background-color: #3551a0;
}

button:focus {
  outline: none;
}
